# Common directories
/*  @Developers
/.github/ @Developers
/.husky/ @Developers
/test/ @Developers

# Domain-specific directories
payments/ @kimseungbin
call/ @junman95
billing/ @Ooyd
health-check/ @Ooyd
auth/ @Ooyd
account/ @kthss01
taxi/ @kthss01
